
@media (min-width: 768px) {
    .aboutArea {
        margin-left: 20px;
        margin-right: 20px;
        text-align: justify;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .leftSideAbout {
        padding: 30px;
        width: 50%;
    }
    .rightSideAbout {
        padding: 30px;
        width: 25%;
        padding-top: 60px;
    }
    .titleAbout {
        width: 50%;
        border-left: 5px solid #ffb400;
        border-top: 5px solid #ffb400;
        border-radius: 5px;
        padding-left: 10px;
    }
    .rightSideAbout div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
    }
    .rightSideAbout img {
        width: 70px;
    }
}


@media (max-width: 767px) {

}