
@media (min-width: 781px) {
    .aboutAreaSmall {
        display: none;
    }
    .aboutArea {
        margin-left: 20px;
        margin-right: 20px;
        text-align: justify;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .leftSideAbout {
        padding: 30px;
        width: 50%;
    }
    .rightSideAbout {
        padding: 30px;
        width: 25%;
        padding-top: 60px;
    }
    .titleAbout {
        width: 50%;
        border-left: 5px solid #ffb400;
        border-top: 5px solid #ffb400;
        border-radius: 5px;
        padding-left: 10px;
    }
    .rightSideAbout div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
    }
    .rightSideAbout img {
        width: 70px;
    }
}


@media (max-width: 780px) {
    .aboutArea {
        display: none;
    }
    .aboutAreaSmall {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .leftSideAbout {
        margin-top: 50px;
        padding: 5px;
        width: 92%;
    }
    .rightSideAbout {
        padding: 5px;
        width: 92%;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
    }
    .rightSideAboutSmall {
        display: flex;
        flex-direction: column;
    }
    .rightSideAboutSmall div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
    }
    .rightSideAbout img {
        width: 70px;
    }
    .titleAbout {
        width: 70%;
        border-left: 5px solid #ffb400;
        border-top: 5px solid #ffb400;
        border-radius: 5px;
        padding-left: 10px;
    }

}