/* Media query for big screens */
@media (min-width: 781px) {
    .bottomOtherArea {
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .infoAreas2 {
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 20px;
        padding-top: 20px;
    }
    .infoSheets2 {
        max-width: 25%;
        padding: 7px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .infoTitle2 {
        font-size: 20;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .infoSVG2 img {
        width: 50px; /* Ensure SVG image does not overflow */
        height: auto; /* Maintain aspect ratio */
    }
    .infoText2 {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        line-height: 1.2; /* Improve readability */
        color: #474747;
        font-style: italic;
    }

    #companyBox {
        background-color: aliceblue;
        transition: box-shadow 0.3s ease; /* Smooth transition for both effects */
    }
    #companyBox:hover {
        cursor: default;
        box-shadow: -4px -4px 12px rgba(0, 0, 0, 0.3); /* Moves shadow to the top-left */
    }
    #companyBox2 {
        transition: box-shadow 0.3s ease; /* Smooth transition for both effects */
    }
    #companyBox2:hover {
        cursor: default;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3); /* Moves shadow to the bottom-right */
    }
    #companyBox3 {
        background-color: aliceblue;
        transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for both effects */
    }
    #companyBox3:hover {
        cursor: pointer;
        box-shadow: -4px -4px 12px rgba(0, 0, 0, 0.3); /* Moves shadow to the top-left */
        transform: translate(-4px, -4px); /* Moves the element slightly to the top-left */
    }
}


/* Media query for small screens */
@media (max-width: 780px) {
    .bottomOtherArea {
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .infoAreas2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .infoSheets2 {
        min-height: 160px;
        padding: 4px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .infoTitle2 {
        font-weight: bold;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 18px;
    }
    .infoSVG2 img {
        width: 50px; /* Ensure SVG image does not overflow */
        height: auto; /* Maintain aspect ratio */
    }
    .infoText2 {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        line-height: 1.2; /* Improve readability */
        color: #474747;
        font-style: italic;
        text-align: justify;
        font-size: 16px;
    }

    #companyBox {
        background-color: aliceblue;
    }
    #companyBox2 {
        transition: box-shadow 0.3s ease; /* Smooth transition for both effects */
    }

    #companyBox3 {
        background-color: aliceblue;
    }

}