.errorFieldSection {
    font-size: 15px;
    font-style: italic;
    margin-left: 20px;
} 
.sectionTitleArea {
    margin-left: 20px;
}
.sectionCategoryLinks {
    margin-left: 20px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}