@media (min-width: 781px) {
    .commentDisplayArea {
        width: 450px;
        margin-left: 20px;
        margin-top: 5px;
        padding: 20px;
        border-radius: 4px;
        background-color: #f9f9f9;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .commentItem {
        padding: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
        font-family: "Ubuntu";
    }
    .commentTop {
        display: flex; 
        justify-content: space-between;
        margin-bottom: 5px;
    }
    .commentorName {
        font-weight: bolder; 
        font-size: 17px;
    }
    .commentDate {
        font-size: 13px;
        color: #555;
    }
    .commentText {
        font-size: 14px;
        line-height: 1.4;
    }
    .replyButton {
        background-color: #4b97fc;
        padding: 5px 10px;
        margin-top: 7px;
        border-radius: 3px;
        font-size: 14px;
        color: white;
        border: none;
        cursor: pointer;
        font-family: "Ubuntu";
    }

    .replyCommentContainer {
        margin-top: 8px;
        font-size: 13px;
        padding-left: 25px;
    }

}