.itemMainContainer {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 17px;
    overflow: hidden;
    background-color: lawngreen;
}
.errorFieldItem {
    font-size: 15px;
    font-style: italic;
}
.carouselArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    background-color: lightseagreen;
    justify-content: center;
    align-items: center;
}
.itemArrows img {
    width: 25px;
}
.itemImagesArea {
    display: flex;
    flex-direction: column;
}
.itemImagesArea img {
    min-width: 200px;
    max-width: 600px;
    height: 400px;
}
.itemDetailsArea {
    margin-top: 20px;
}
.phoneNumber {
    cursor: pointer;
}

.dotsContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 8px;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
  }
  
  .dot.active {
    background: #555;
  }