/* Media query for big screens */
@media (min-width: 781px) {

    .loginFormArea{
        height: 100%;
        width: 99%;
        margin: auto;
        padding-top: 20px;
        font-size: 16px;
    }
    .loginForm {
        max-width: 45%;
        margin-left: 20px;
    }
    .loginInputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
        position: relative; /* <-- Add this */
    }
    .loginInputs label {
        color: black;
        margin-bottom: 8px;
    }
    .loginInputs input:hover {
        border: 1px solid #4236e9;
    }
    .loginInputsInputArea {
        width: 100%;
    }
    .loginInputShort {
        width: 80%;
        padding: 12px 20px;
        border-radius: 6px;
        border: 1px solid #b0b0b0;
        background: white;
        font-weight: 500;
        font-size: 16px;
        font-family: "Concert One";
        color: #6b7280;
        outline: none;
        resize: none;
    }
    .btnSelectCategory2 {
        padding: 8px 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        width: 240px;
        text-align: center;
        margin-top: 15px;
    }
    .tabContainer {
        display: flex;
        flex-direction: row;
        margin-left: 25px;
        font-size: 18px;
    }
    .activeTab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 35px;
        cursor: pointer;
        background-color: #ffffff;
        color: #202124;
        border: 1px solid #ccc; /* Add border to active tab */
        border-bottom: none;
        border-radius: 5px 5px 0 0; /* Rounded top corners */
    }
    .inactiveTab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 35px;
        cursor: pointer;
        background-color: #f1f3f4;
        color: #5f6368;
        border: 1px solid #ccc; /* Add border to active tab */
        border-radius: 5px 5px 0 0; /* Rounded top corners */
    }
    .iconEye {
        position: absolute;
        top: 50px;
        right: 80px;
        transform: translateY(-50%);
        width: 20px;
        cursor: pointer;
    }
    .titlePasswordReset {
        margin-left: 25px;
        font-size: 25px;
        font-family: "Maven pro";
    }
    .passwordResetLink{
        color: blue;
        display: block;
        margin-bottom: 15px;
        cursor: pointer;
    }
}