

/* Media query for big screens */
@media (min-width: 781px) {
    .mainArea {
        /* Instead of height: 100%, use a min-height so it can grow if content is taller */
        height: 100%; /* Ensures body fills the viewport height */
        width: 76%;
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: white;
        box-shadow: -10px 0 15px -5px rgba(127, 1, 1, 0.3),
                    10px 0 15px -5px rgba(0, 0, 0, 0.3);
                 
      }
    .topMainArea {
        height: 20vh;
        display: flex;
        flex-direction: column;
    }
    .bottomArea {
        border-radius: 10px;
        height: 80vh;
        margin-top: 40px;
        overflow: auto;
        scrollbar-width: none;    
    }
}
/* Media query for small screens */
@media (max-width: 780px) {


}