/* Media query for big screens */
@media (min-width: 781px) {
    .profileUpdateTitle {
        margin-left: 30px;
        font-family: "Acme"
    }
    .loginFormArea1 {
        height: 100%;
        width: 99%;
        margin: auto;
        padding-top: 20px;
        font-size: 16px;
    }
    .loginForm1 {
        max-width: 45%;
        margin-left: 20px;
    }
    .loginInputs1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
    }
    .loginInputs1 label {
        color: black;
        margin-bottom: 8px;
    }
    .loginInputs1 input:hover {
        border: 1px solid #4236e9;
    }
    .loginInputShort1 {
        padding: 12px 20px;
        border-radius: 6px;
        border: 1px solid #b0b0b0;
        background: white;
        font-weight: 500;
        font-size: 16px;
        font-family: "Concert One";
        color: #6b7280;
        outline: none;
        resize: none;
    }
    .btnSelectCategory3 {
        box-sizing: border-box;
        vertical-align: middle; /* Aligns with inline elements */
        padding: 8px 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        width: 150px;
        text-align: center;
        margin-top: 15px;
    }
    .btnSelectCategory4 {
        display: inline-block; /* Makes the span respect width */
        vertical-align: middle; /* Aligns with inline elements */
        padding: 8px 16px;
        background-color: #dbf438;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        width: 120px;
        text-align: center;
        margin-top: 15px;
        margin-left: 25px;
    }
    .btnSelectCategory3:hover {
        background-color: #0d0ddbba;
        font-weight: bolder;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
                0 6px 12px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease; /* Smooth animation */
    }
    .btnSelectCategory4:hover {
        background-color: #829604;
        font-weight: bolder;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
                0 6px 12px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease; /* Smooth animation */
    }
    .resultAreaProfileUpdate {
        margin-left: 20px;
    }
}
/* Media query for small screens */
@media (max-width: 780px) {
    .profileUpdateTitle {
        margin-left: 30px;
        font-family: "Acme"
    }
    .loginFormArea1 {
        height: 100%;
        width: 99%;
        margin: auto;
        padding-top: 20px;
        font-size: 16px;
    }
    .loginForm1 {
        max-width: 90%;
        margin-left: 20px;
    }
    .loginInputs1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
    }
    .loginInputs1 label {
        color: black;
        margin-bottom: 8px;
    }
    .loginInputs1 input:hover {
        border: 1px solid #4236e9;
    }
    .loginInputShort1 {
        padding: 12px 20px;
        border-radius: 6px;
        border: 1px solid #b0b0b0;
        background: white;
        font-weight: 500;
        font-size: 16px;
        font-family: "Concert One";
        color: #6b7280;
        outline: none;
        resize: none;
    }
    .btnSelectCategory3 {
        box-sizing: border-box;
        vertical-align: middle; /* Aligns with inline elements */
        padding: 8px 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        width: 150px;
        text-align: center;
        margin-top: 15px;
    }
    .btnSelectCategory4 {
        display: inline-block; /* Makes the span respect width */
        vertical-align: middle; /* Aligns with inline elements */
        padding: 8px 16px;
        background-color: #dbf438;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        width: 120px;
        text-align: center;
        margin-top: 15px;
        margin-left: 25px;
    }
    .resultAreaProfileUpdate {
        margin-left: 20px;
    }
}