/* Media query for big screens */
@media (min-width: 781px) {

    .searchDiv {
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .targetWord {
        font-weight: bolder;
        padding: 4px 14px;
        border-radius: 3px;
    }
}
/* Media query for small screens */
@media (max-width: 780px) {

    .searchDiv {
        font-size: 15px;
        margin-left: 15px;
        margin-bottom: 25px;
        margin-top: 15px;
    }
    .targetWord {
        font-weight: bolder;
        padding: 4px 14px;
        border-radius: 3px;
    }
}