
.tableMainCategoryArea{
    width: 100%;
    font-size: 16px;
}
.tableMainCategory {
    width: 98%;
    margin: auto;
}
.column3 {
    width: 50%;
}
.tableMainCategory th {
    text-align: left;
}
.tableMainCategory tr {
    background-color: white
}
.tableRows {
    height: 80px;
}
.tableRows td {
    cursor: pointer;
}
.tableRows:hover {
    background-color: #e5e4e4d1;
    color:#120fcb;
    font-weight: bolder;
}
.imgContainerTd {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column2, .column3, .column4, .column5 {
    border-bottom: 2px double #979797;
}
.cell2, .cell3, .cell4, .cell5 {
    border-bottom: 2px dashed #c0c0c0;
}
.tableRows img {
    width: 90%; /* Fixed width for the image */
    max-height: 75px; /* Fixed height for the image */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 5px; /* Optional: Adds rounded corners */
  }