.TopNavbarArea {
  height: 100%;
  background-color: #cde8c6;
  color: #121111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2); /* Bottom shadow */
}
.TopNavbarArea span, .topAreaLoginArea {
  cursor: pointer;
  height: 100%;
  padding: 0 20px; /* Add 10px padding to left and right */
  display: flex; /* Add Flexbox to the span */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}
.topAreaNavSpans{
  font-size: 20px;
  font-weight: bold;
}
.TopNavbarArea span:hover {
  background-color: #95c28f;
}

.headerArea {
  height: 100%;
  margin-left: 50px;
  font-family: "Honk", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-variation-settings:
    "MORF" 16,
    "SHLN" 50;
  font-size: 50px;
  letter-spacing: 5px;
}
.headerArea span {
  cursor: pointer;
  font-size: 50px; 
}
.topTitleArea {
  height: 100%;
}
.topAreaLoginArea {
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  background-color: #2F3C7E;
  color: #FBEAEB;
}
.topAreaLoginArea:hover {
  background-color:#ca5410;
  color: #d3caca;
  border: 2px black dashed
}
.loginIcon {
  width: 39px;
  margin-right: 10px;
  color: #FBEAEB;
}
.profileIcon {
  width: 33px;
  color: #FBEAEB;
}