/* Media query for big screens */
@media (min-width: 781px) {

    .adFormArea{
        height: 100%;
        width: 100%;
        margin-left: 20px;
        font-size: 16px;
    }
    .adForm {
        width: 45%;
    }
    .formRow {
        display: flex;
        flex-direction: row;    
        justify-content: space-between;    
    }
    .formInputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
    }
    .formInputs label {
        color: black;
        margin-bottom: 8px;
    }
    .formInputs input:hover {
        border: 1px solid #4236e9;
    }
    .inputFieldLong {
        padding: 12px 24px;
        border-radius: 6px;
        border: 1px solid #b0b0b0;
        background: white;
        font-weight: 500;
        font-size: 16px;
        font-family: "Concert One";
        color: #4e535c;
        outline: none;
        resize: none;
    }
    .inputFieldShort {
        padding: 12px 20px;
        border-radius: 6px;
        border: 1px solid #b0b0b0;
        background: white;
        font-weight: 500;
        font-size: 16px;
        font-family: "Concert One";
        color: #6b7280;
        outline: none;
        resize: none;
    }
    .textAreaClass {
        padding: 12px 24px;
        border-radius: 6px;
        border: 1px solid #b0b0b0;
        background: white;
        font-weight: 500;
        font-size: 16px;
        font-family: "Concert One";
        color: #6b7280;
        outline: none;
        resize: none;
    }
    /*<button class="button7007">COPY ME</button>*/
    @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap'); /*Dosis*/
    .button7007 {
        height: 40px;
        width: 170px;
        font-size: 20px;
        font-family: 'Dosis', sans-serif;
        background-color: aquamarine;
        padding: 4px;
        border-radius: 5px;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    .button7007:hover {
        background-color: lightseagreen;
        font-weight: bolder;
    }
    .button7007:active {
        box-shadow: 0 2px #666;
        transform: translateY(2px);
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }


      
      .selectedFilesText {
        margin-top: 5px;
        font-size: 14px;
        color: #555;
      }

      /* From Uiverse.io by SpatexDEV */ 
      .customFileUpload {
        width: 40%;
        border: none;
        display: flex;
        padding: 12px 16px;          
        background-color: #488aec;
        color: #ffffff !important;
        font-size: 13px;             
        line-height: 16px;           
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        vertical-align: middle;
        align-items: center;
        border-radius: 8px;         
        user-select: none;
        gap: 4px;                   
        box-shadow:
            0 4px 6px -1px #488aec31,
            0 2px 4px -1px #488aec17;
        transition: all 0.6s ease;    
    }

    
    .customFileUpload:hover {
        box-shadow:
        0 10px 15px -3px #488aec4f,
        0 4px 6px -2px #488aec17;
    }
    
    .customFileUpload:focus,
    .customFileUpload:active {
        opacity: 0.85;
        box-shadow: none;
    }
    
    .customFileUpload svg {
        width: 1.25rem;
        height: 1.25rem;
    }

      

}


/* Media query for small screens */
@media (max-width: 780px) {


    /*<button class="button7007">COPY ME</button>*/
    @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap'); /*Dosis*/
    .button7007 {
        height: 40px;
        width: 140px;
        font-size: 20px;
        font-family: 'Dosis', sans-serif;
        background-color: aquamarine;
        padding: 4px;
        border-radius: 5px;
        cursor: pointer;
        transition-duration: 0.3s;
    }
    .button7007:hover {
        background-color: lightseagreen;
        font-weight: bolder;
    }
    .button7007:active {
        box-shadow: 0 2px #666;
        transform: translateY(2px);
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }

    .customFileUpload {
        background-color: #4CAF50;
        color: white;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        margin-top: 5px;
      }
      
      .selectedFilesText {
        margin-top: 5px;
        font-size: 14px;
        color: #555;
      }
      

}